.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    width: 210px;
    height: 300px;
    padding: 8px;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    margin: 10px;
    cursor: pointer;
    transition: 300ms;
    border: 2px solid #fff;
    position: relative;
}

.card:hover {
    transform: scale(1.05);
    border: 2px solid #000;
    transition: 300ms;
}

.image {
    height: 200px;
    width: 100%;
    object-fit: contain;
}

.name {
    width: 100%;
    margin-top: 5px;
}

.price {
    margin-top: auto;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.wishListIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    object-fit: contain;
}

@media (max-width: 485px) {
    .card {
        height: 400px;
        width: calc(100% - 10px);
        transition: 100ms;
        text-align: center;
    }

    .image {
        height: 320px;
        width: 100%;
        object-fit: contain;
    }
}