.container {
    width: 100%;
}

.input {
    display: block;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 14px;
    width: 100%;
    margin: 5px 0 12px;
}

.input:focus {
    outline: none;
    border-color: #000;
}