.p {
    padding: 0;
}

.h {
    margin-bottom: 10px;
}

.logo {
    border-radius: 10px;
    width: 200px;
    object-fit: contain;
    margin: 0 auto;
    border: 2px solid #000;
}

.map {
    width: 100%;
    border: none;
    border-radius: 20px;
    height: 600px;
    margin-bottom: 10px;
}