.container {
    padding: 10px 0;
    display: flex;
    align-items: flex-start;
    border-bottom: 3px solid #ddd;
    cursor: pointer;
}

.img {
    height: 120px;
    width: 120px;
    object-fit: contain;
}

.specifiesContainer {
    width: 100%;
    padding: 0 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: stretch;
}

.nameAndDelContainer {
    display: flex;
    justify-content: space-between;
}

.priceAndCountContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
}

.price {
    font-weight: bold;
    font-size: 1.5rem;
}

.countContainer {
    display: flex;
    align-items: center;
}

.count {
    min-width: 30px;
    font-weight: bold;
    text-align: center;
}

.name {
    font-size: 1.5rem;
}